.header {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.links-list {
  display: inline-flex;
  gap: 5.5em;
  padding-top: 1.5em;
}
.links-list a {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 1.25em;
}
.links-list li {
  list-style-type: none;
}

.mainsection {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 12em 12em 20em 12em;
  grid-template-rows: 12em 4.75em;
  justify-content: center;
}
.mainsection__logo {
  grid-area: 1/2/2/3;
  height: 12em;
  max-width: 90%;
  margin: 0 auto;
}
.mainsection__header {
  grid-area: 1/3/2/4;
  font-family: "Roboto", sans-serif;
  font-size: 6rem;
  font-weight: bold;
}
.mainsection__description {
  grid-area: 2/2/3/4;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

#hypester,
#yarmarket,
#aboutus {
  background: linear-gradient(180deg, #F9F9F9 0%, #FFFFFF 100%);
  background-repeat: repeat-x;
}

.hypester__header,
.yarmarket__header {
  text-align: center;
  padding-top: 0.8em;
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

.screenshots {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-around;
  gap: 0.8em;
  width: 62em;
  height: 35em;
}
.screenshots__img {
  border: 2px solid rgba(156, 156, 156, 0.518);
  border-radius: 30px;
  width: 100%;
  height: auto;
}

.hypester__description,
.yarmarket__description {
  width: 100%;
  max-width: 1140px;
  margin: 0px auto;
  padding-left: 45px;
  padding-right: 45px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  padding-top: 50px;
}

.hypester__text,
.yarmarket__text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

.aboutus__header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  padding-top: 0.9em;
}

.aboutmaincontent {
  display: flex;
  justify-content: space-between;
}

.aboutus__img {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin: auto;
  width: 20em;
  height: 20em;
}

.aboutus__description {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  padding-top: 3em;
}

.contacts__header {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding-top: 0.4em;
  background-color: rgba(166, 227, 237, 0.283);
  background-repeat: repeat-x;
  padding-bottom: 0.3em;
}
