@mixin central { 
    width: 100%; 
    max-width: 1200px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}

// @mixin central-links {
//     max-width: 1200px; 
//     margin: 0;
//     width: 100%;
//     padding-left: 30px;
//     padding-right: 30px;
// }

@mixin text-styles {
    text-align: center;
    font-family: $mainfont;
    font-size: 1.5rem;
}

@mixin headers {
    text-align: center;
    font-family: $mainfont;
    font-size: 2em;
    padding-top: 0.4em;
}

@mixin central-laptop {
    max-width: 600px; 
    padding-left: 40px; 
    padding-right: 40px;
}

@mixin central-links-laptop {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

$blockview: 1px solid orange;
$mainfont: 'Roboto', sans-serif;
$header-background: rgba(166, 227, 237, 0.283);

.header {
    @include central;
    overflow-x: hidden;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.cover__img {
    height: 6.5em;
    width: 6em;
}

.links-list {
    display: inline-flex;
    column-gap: 1.25em;
    padding-top: 1.5em;
    a {
        text-decoration: none;
        color: inherit;
        font-family: $mainfont;
        font-size: 1.5em;
        font-weight: bolder;
    }
    li {
        list-style-type: none;
    }
}

.mainsection {
    @include central;
    display: grid;
    grid-template-columns: 20em 20em 20em 20em;
    grid-template-rows: 16em 4.75em;
    &__logo {
        grid-area: 1/2/2/3;
        height: 256px;
        width: 256px;
        margin: 0 auto;
    }
    &__header {
        grid-area: 1/3/2/4;
        text-align: center;
        padding-top: 0.35em;
        font-family: $mainfont;
        font-size: 5em;
        font-weight: bold;
    }
    &__description {
        grid-area: 2/2/3/4;
        text-align: center;
        padding-left: 3em;
        font-family: $mainfont;
        font-size: 1.5rem;
    }
}

.projects {
    @include central;
    height: 4em;
    background-color: $header-background;
    &__header {
        text-align: center;
        font-family: $mainfont;
        font-size: 2em;
        padding-top: 0.4em;
    }
}

#hypester {
    @include central;
}

.hypester__header {
    text-align: center;
    padding-top: 0.35em;
    font-family: $mainfont;
    font-size: 2em;
    font-weight: bold;
}

.screenshots {
    display: flex;
    justify-content: space-between;
    gap: 0.1em;
    &__img {
        width: 25em;
        height: 45.4em;
    }
}

.hypester__description {
    @include text-styles;
}

.hypester__text {
    @include text-styles;
}

#aboutus {
    @include central;
}

.aboutus__header {
    @include headers;
    background-color: $header-background;
    padding-bottom: 0.3em;
}

.aboutus__img {
    display: block;
    margin: auto;
    width: 25em;
    height: 45.5em;
}
.aboutus__description {
    @include text-styles;
}

#contacts {
    @include central;
}

.contacts__header {
    @include headers;
    background-color: $header-background;
    padding-bottom: 0.3em;
}

@media (max-width: 900px) { 
    .mainsection { 
    @include central-laptop;
    }

    .projects {
        @include central-laptop;
    }
    
    #hypester {
        @include central-laptop;
    } 

    #aboutus {
        @include central-laptop;
    }

    #contacts {
        @include central-laptop;
    }

    .header {
        @include central-links-laptop;
    }
}