@mixin central {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right:30px;
}

@mixin central-links {
    max-width: 1440px; 
    margin: 0 auto;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

$blockview: 1px solid orange;
$mainfont: 'Roboto', sans-serif;

.header {
    @include central-links;
    display: flex;
    justify-content: space-between;
    // border: $blockview;
}

.cover__img {
    height: 6.5em;
    width: 6em;
}

.links-list {
    display: inline-flex;
    column-gap: 1.25em;
    padding-top: 1.5em;
    a {
        text-decoration: none;
        color: inherit;
        font-family: $mainfont;
        font-size: 1.5em;
        font-weight: bolder;
    }
    li {
        list-style-type: none;
    }
}

.mainsection {
    @include central;
    display: grid;
    grid-template-columns: 20em 20em 20em 20em;
    grid-template-rows: 16em 4.75em;
    &__logo {
        grid-area: 1/2/2/3;
        height: 256px;
        width: 256px;
        margin: 0 auto;
    }
    &__header {
        grid-area: 1/3/2/4;
        text-align: center;
        padding-top: 0.35em;
        font-family: $mainfont;
        font-size: 5em;
        font-weight: bold;
    }
    &__description {
        grid-area: 2/2/3/4;
        text-align: center;
        padding-left: 3em;
        font-family: $mainfont;
        font-size: 1.5rem;
    }
}

.projects {
    @include central;
    height: 4em;
    background-color: rgba(166, 227, 237, 0.283);
    &__header {
        text-align: center;
        font-family: $mainfont;
        font-size: 2em;
        padding-top: 0.4em;
    }
}

#hypester {
    @include central;
    &screenshots {
        display: flex;
        justify-content: space-between;
        &__img {
            width: 3em;
            height: 3em;
        }
    }
}

#aboutus {
    @include central;
}

.aboutus__header {
    font-family: $mainfont;
    font-size: 2em;
    padding-top: 0.4em;
}

#contacts {
    @include central;
}

.contacts__header {
    font-family: $mainfont;
    font-size: 2em;
    padding-top: 0.4em;
}